[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nextcord = {extras = ["speed"], version = "*"}
uvloop = "*"
peewee = "*"
orjson = "*"

[dev-packages]
python-dotenv = "*"
hvac = "*"
isort = "*"
black = "*"
flake8 = "*"
types-peewee = "*"

[requires]
python_version = "3.10"
