[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nextcord = {extras = ["speed"], version = "*"}
nextcord-ext-ipc = "*"
quart = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
