[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nextcord = {extras = ["speed"], version = "*"}
nextcord-ext-ipc = "*"
uvloop = "*"
peewee = "*"
orjson = "*"
msal = "*"
pygithub = "*"
psycopg2-binary = "*"
requests = "*"

[dev-packages]
types-peewee = "*"

[requires]
python_version = "3.11"
